<div class="">
  <div class="container">
    <div class="border-t border-gray-200 pt-10 pb-12">
      <div class="flex items-center">
        <a href="#">Home</a>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M6.53073 2.46937L11.5307 7.46937C11.6007 7.53905 11.6561 7.62184 11.694 7.71301C11.7318 7.80417 11.7513 7.90191 11.7513 8.00062C11.7513 8.09933 11.7318 8.19707 11.694 8.28824C11.6561 8.3794 11.6007 8.46219 11.5307 8.53187L6.53073 13.5319C6.38984 13.6728 6.19874 13.7519 5.99948 13.7519C5.80023 13.7519 5.60913 13.6728 5.46823 13.5319C5.32734 13.391 5.24818 13.1999 5.24818 13.0006C5.24818 12.8014 5.32734 12.6103 5.46823 12.4694L9.93761 8L5.46761 3.53062C5.32671 3.38973 5.24756 3.19863 5.24756 2.99937C5.24756 2.80011 5.32671 2.60902 5.46761 2.46812C5.60851 2.32723 5.7996 2.24807 5.99886 2.24807C6.19812 2.24807 6.38921 2.32723 6.53011 2.46812L6.53073 2.46937Z" fill="black" fill-opacity="0.6"/>
        </svg>
        <span class="text-black">{{ product.title }}</span>
      </div>
      <h1 class="section-title my-6">{{ product.title }}</h1>

      <div class="flex ">
        <div class=" w-6/12 flex">
          <div class="w-3/12 mr-3.5 flex flex-col justify-between">
            <img class="" width="full" height="full" src="{{ "product-1.png" | asset_url }}" alt="">
            <img class="" width="full" height="full" src="{{ "product-1.png" | asset_url }}" alt="">
            <img class="" width="full" height="full" src="{{ "product-1.png" | asset_url }}" alt="">
          </div>
          <div class="w-9/12">
            <img
              width="full"
              height="full"
              src="{{ "product-feateured-image.jpg" | asset_url }}"
              alt="{{ product.title }}"
            >
          </div>
        </div>

        <div class="w-6/12">
          {% render 'singleProductBox' %}
          <p>
            This graphic t-shirt which is perfect for any occasion. Crafted from a soft and breathable fabric, it offers
            superior comfort and style.
          </p>
          {% render 'separator' %}

          <p class="mt-4 text-zinc-700">Select Colors</p>
          <div class="flex gap-3 mt-4">
            <div class="bg-stone-700 rounded-full w-[40px] h-[40px] text-white text-xl"></div>
            <div class="bg-gray-700 rounded-full w-[40px] h-[40px] flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M14.5306 5.03063L6.5306 13.0306C6.46092 13.1005 6.37813 13.156 6.28696 13.1939C6.1958 13.2317 6.09806 13.2512 5.99935 13.2512C5.90064 13.2512 5.8029 13.2317 5.71173 13.1939C5.62057 13.156 5.53778 13.1005 5.4681 13.0306L1.9681 9.53063C1.89833 9.46087 1.84299 9.37804 1.80524 9.28689C1.76748 9.19574 1.74805 9.09804 1.74805 8.99938C1.74805 8.90072 1.76748 8.80302 1.80524 8.71187C1.84299 8.62072 1.89833 8.53789 1.9681 8.46813C2.03786 8.39837 2.12069 8.34302 2.21184 8.30527C2.30299 8.26751 2.40069 8.24808 2.49935 8.24808C2.59801 8.24808 2.69571 8.26751 2.78686 8.30527C2.87801 8.34302 2.96083 8.39837 3.0306 8.46813L5.99997 11.4375L13.4693 3.96938C13.6102 3.82848 13.8013 3.74933 14.0006 3.74933C14.1999 3.74933 14.391 3.82848 14.5318 3.96938C14.6727 4.11028 14.7519 4.30137 14.7519 4.50063C14.7519 4.69989 14.6727 4.89098 14.5318 5.03188L14.5306 5.03063Z" fill="white"/>
              </svg>
            </div>
            <div class="bg-slate-700 rounded-full w-[40px] h-[40px]"></div>
          </div>
          {% render 'separator' %}
          <p class="mt-4 text-zinc-700">Choose Size</p>
          <div class="flex gap-3 mt-4">
            <div class=" flex justify-center items-center bg-gray-200 rounded-full w-[100px] h-[40px] text-white text-xl">
              Small
            </div>
            <div class="  bg-gray-200 rounded-full w-[100px] h-[40px] flex justify-center items-center">Medium</div>
            <div class=" flex justify-center items-center bg-gray-200 rounded-full w-[100px] h-[40px]">Large</div>
            <div class=" flex justify-center items-center bg-gray-200 rounded-full w-[100px] h-[40px]">X-Large</div>
          </div>
          {% render 'separator' %}
          <div class="flex gap-6 mt-6 justify-center items-center">
            {% render 'increment-decrement' %}
            <button class="bg-black w-full text-white text-xl py-2 rounded-full">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>



    <div class="flex justify-between">
        <button class="tab-button px-6 py-3 font-medium -mb-[25px] " data-tab="product-details">
            Product Details
          </button>
          <button class="tab-button px-6 py-3 font-medium text-stone-300 -mb-[25px]  " data-tab="ratings">
            Ratings
          </button>
          <button class="tab-button px-6 py-3 font-medium text-stone-300  -mb-[25px]" data-tab="faq">
            FAQ
          </button>
    </div>
    {% render 'separator' %}

        <!-- Product Details Tab Content -->
        <div id="product-details" class="tab-content" style="display: none;">
          <p class="text-2xl font-bold mb-4 mt-6">Product Details</p>
        </div>
        
        <!-- Ratings Tab Content -->
        <div id="ratings" class="tab-content" style="display: none;">
          <p class="text-2xl font-bold mb-4 mt-6">All Reviews</p>
          <div class="">
            <div class= " grid gap-4 grid-cols-3  ">
            
                {% for i in (1..6) %}
                    <div class=" border border-gray-200 rounded-4xl p-7 ">
                        <div class="flex">
                            {% for i in (1..5) %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17" fill="none">
                                  <path d="M9.24494 0.255005L11.8641 5.89491L18.0374 6.6431L13.4829 10.8769L14.679 16.9793L9.24494 13.956L3.8109 16.9793L5.00697 10.8769L0.452479 6.6431L6.62573 5.89491L9.24494 0.255005Z" fill="#FFC633"/>
                                </svg>
                                
                            {% endfor %}
                        </div>
                        <div class="flex">
                            <p>Samantha D.</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                <path d="M12 2.82898C10.0716 2.82898 8.18657 3.40081 6.58319 4.47215C4.97982 5.54349 3.73013 7.06624 2.99218 8.84782C2.25422 10.6294 2.06114 12.5898 2.43735 14.4811C2.81355 16.3724 3.74215 18.1097 5.10571 19.4733C6.46928 20.8368 8.20656 21.7654 10.0979 22.1416C11.9892 22.5178 13.9496 22.3248 15.7312 21.5868C17.5127 20.8489 19.0355 19.5992 20.1068 17.9958C21.1782 16.3924 21.75 14.5073 21.75 12.579C21.7473 9.99396 20.7192 7.51559 18.8913 5.6877C17.0634 3.85982 14.585 2.83171 12 2.82898ZM16.2806 10.8596L11.0306 16.1096C10.961 16.1793 10.8783 16.2347 10.7872 16.2724C10.6962 16.3101 10.5986 16.3296 10.5 16.3296C10.4014 16.3296 10.3038 16.3101 10.2128 16.2724C10.1218 16.2347 10.039 16.1793 9.96938 16.1096L7.71938 13.8596C7.57865 13.7189 7.49959 13.528 7.49959 13.329C7.49959 13.13 7.57865 12.9391 7.71938 12.7984C7.86011 12.6576 8.05098 12.5786 8.25 12.5786C8.44903 12.5786 8.6399 12.6576 8.78063 12.7984L10.5 14.5187L15.2194 9.79835C15.2891 9.72867 15.3718 9.6734 15.4628 9.63568C15.5539 9.59797 15.6515 9.57856 15.75 9.57856C15.8486 9.57856 15.9461 9.59797 16.0372 9.63568C16.1282 9.6734 16.2109 9.72867 16.2806 9.79835C16.3503 9.86804 16.4056 9.95076 16.4433 10.0418C16.481 10.1329 16.5004 10.2304 16.5004 10.329C16.5004 10.4275 16.481 10.5251 16.4433 10.6162C16.4056 10.7072 16.3503 10.7899 16.2806 10.8596Z" fill="#01AB31"/>
                              </svg>
                        </div>
                        <div class="">
                            <p>"I absolutely love this t-shirt! The design is unique and the fabric feels so comfortable. As a fellow designer, I appreciate the attention to detail. It's become my favorite go-to shirt."</p>
                            <p>Posted on August 14, 2023</p>
                        </div>
                       
        
                    </div>
                    {% endfor %}
        
                
                
            </div>
        </div>
          
        </div>
        
        <!-- FAQ Tab Content -->
        <div id="faq" class="tab-content" style="display: none;">
          <p class="text-2xl font-bold mb-4 mt-6">Frequently Asked Questions</p>
        </div>
      
  </div>
</div>

<script>
  {% comment %} jQuery(document).ready(function ($) {
    $('.product-tab-btn').click(function () {
      let index = $(this).index();
      $('.product-tab-btn').removeClass('active');
      $(this).addClass('active');
      $('.tab-content').hide().eq(index).show();
    });
  }); {% endcomment %}

  $(document).ready(function() {

    // Set initial active tab
    $('#product-details').show();
    $('.tab-button[data-tab="product-details"]').addClass(' text-black ')
    
    // Tab click event
    $('.tab-button').click(function() {

      const tabId = $(this).data('tab');

      
      // Hide all tab contents
      $('.tab-content').hide();
      
      // Show selected tab content
      $('#' + tabId).show();
      
      // Update tab styling
      $('.tab-button').removeClass('text-black border-b border-black').addClass('text-stone-300');
      $(this).addClass('text-black border-b border-black').removeClass('text-stone-300');
    });
  });
</script>
